* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

button {
  background-color: #29ab87;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  height: 55px;
  cursor: pointer;
  color: #ffffff;
}

button:hover {
  background-color: #249c7a;
}

.container {
  width: 480px;
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.qr-code-generator {
  padding: 30px;
  background-color: #f0f8ff;
  box-shadow: 1px 1px 12px black;
  border: 1px solid black;
  border-radius: 9px;
  position: absolute;
  transition: height 0.2s ease;
}

.qr-code-generator.disabled {
  display: none;
  pointer-events: none;
}

.generator-title-img {
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.generator-title h1 {
  font-size: 48px;
}

.generator-img img {
  opacity: 0;
  transition: opacity 0s 0.07s cubic-bezier(0, 1, 0, 1);
}

.qr-code-generator .generator-title-img .generator-img {
  height: 0px;
  width: 260px;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  margin-top: 35px;
  background-color: #ffffff;
  display: flex;
  transition: height 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

.qr-code-generator.active .generator-title-img .generator-img {
  height: 260px;
  opacity: 1;
}

.qr-code-generator.active .generator-title-img .generator-img img {
  opacity: 1;
}

.generator-input-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0px;
}

.generator-input-buttons input {
  width: 416px;
  height: 55px;
  padding: 0px 15px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
}

.download {
  opacity: 0.9;
  background-color: gray;
  pointer-events: none;
}

.download.active {
  opacity: 1;
  background-color: #29ab87;
  pointer-events: auto;
}

.generator-input-buttons input:focus {
  border: 1px solid black;
  outline: none;
}

.generator-input-buttons input:focus::placeholder {
  opacity: 0;
}

.generator-buttons {
  width: 416px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.generator-buttons button {
  width: calc(100% / 2 - 10px);
}

.generator-input-buttons button:hover {
  background-color: #249c7a;
}

.qr-code-scanner {
  width: 100%;
  padding: 30px;
  background-color: aliceblue;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 12px black;
}

.qr-code-scanner.disabled {
  display: none;
  pointer-events: none;
}

.scanner-input-output {
  width: 100%;
}

.qr-code-scanner .scanner-input form .inputs {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 9px;
  height: 420px;
  justify-content: center;
}

.scanner-output-button {
  height: 0px;
  pointer-events: none;
  transition: height 0.5s ease;
}

.scanner-output-button div {
  transition: opacity 0.3s 0.1s ease;
  opacity: 0;
}

.scanner-output-button.active {
  height: 205px;
  pointer-events: auto;
}

.scanner-output-button.active div {
  opacity: 1;
}

.qr-code-scanner .scanner-input form .inputs p {
  font-size: 36px;
}

.qr-code-scanner.active .scanner-input form .inputs p {
  display: none;
}

.qr-code-scanner .scanner-input form .inputs img {
  display: none;
  pointer-events: none;
}

.qr-code-scanner.active .scanner-input form .inputs img {
  display: block;
  height: 250px;
  width: 250px;
}

.qr-code-scanner .scanner-input form .inputs input {
  display: none;
}

.qr-code-scanner .scanner-output-button .output {
  margin: 10px 0px;
  height: 120px;
}

.qr-code-scanner .scanner-output-button .output textarea {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid gray;
  font-weight: bold;
  background-color: white;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 0px;
}

.buttons button {
  width: calc((100% / 2) - 10px);
}

.goto-generator {
  width: 100%;
  margin: 20px 0px;
}

.goto-scanner {
  width: 416px;
}

@media screen and (orientation: portrait) {
  body {
    background-color: aliceblue;
  }

  .qr-code-generator {
    border: none;
    box-shadow: none;
  }

  .qr-code-scanner {
    border: none;
    box-shadow: none;
  }
}

@media screen and (max-height: 700px) {
  body {
    background-color: aliceblue;
  }

  .container {
    height: 90vh;
  }

  .qr-code-generator {
    height: 90vh;
    border: none;
    box-shadow: none;
  }

  .qr-code-scanner {
    border: none;
    box-shadow: none;
  }

  .qr-code-scanner {
    height: 90vh;
  }
}

@media screen and (max-width: 500px) {
  button {
    font-size: 18px;
  }

  .container {
    width: 90vw;
  }

  .qr-code-generator {
    width: 90vw;
  }

  .generator-input-buttons input {
    width: 70vw;
  }

  .generator-buttons {
    width: 70vw;
  }

  .generator-buttons button {
    width: calc(70vw / 2 - 10px);
  }

  .generator-img img {
    width: 180px;
  }

  .qr-code-generator.active .generator-title-img .generator-img {
    width: 190px;
    height: 190px;
  }

  .generator-title h1 {
    font-size: 36px;
  }

  .qr-code-scanner .scanner-input form .inputs {
    height: calc(90vw - 60px);
  }

  .qr-code-scanner.active .scanner-input form .inputs img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  .qr-code-scanner .scanner-input form .inputs p {
    font-size: 24px;
  }

  .goto-scanner {
    width: 70vw;
  }
}
